<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">Patrocinadores</h5>
            <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mollis, quam in malesuada convallis, elit
                felis hendrerit ex, id blandit quam nisi a est. Aliquam auctor tincidunt libero id tristique. </p>

        </div>
        <div class="col l3 s12">
            <h5 class="white-text">Mapa da pagina</h5>
            <ul>
                <li>
                    <a class="white-text" href="#principal">Principal</a>
                </li>
                <li>
                    <a class="white-text" href="#sobre_nos">Sobre nós</a>
                </li>
                <li>
                    <a class="white-text" href="#organizadores1">Palestrante</a>
                </li>
                <li>
                    <a class="white-text" href="#programa">Programa</a>
                </li>
                <li>
                    <a class="white-text" href="#presidente_congresso">Ciência e pesquisa</a>
                </li>
                <li>
                    <a class="white-text" href="#!">Local</a>
                </li>
                <li>
                    <a class="white-text" href="#!">Inscrição</a>
                </li>
            </ul>
        </div>
        <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
                <li>
                    <a class="white-text" href="#!">Link 1</a>
                </li>
                <li>
                    <a class="white-text" href="#!">Link 2</a>
                </li>
                <li>
                    <a class="white-text" href="#!">Link 3</a>
                </li>
                <li>
                    <a class="white-text" href="#!">Link 4</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="footer-copyright">
    <div class="container">
        Ministério da Saúde - 2017
        <a class="brown-text text-lighten-3" href="dab.saude.gov.br"> Departamento de Atenção Básica</a>
    </div>
</div>