<style>
    .slider {
        position: relative;
        height: 600px!important;
        width: 100%;
    }

    .slider .slides li {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 550px !important;
        overflow: hidden;
    }
</style>
<div id="principal" class="section no-pad-bot">
    <div class="">
        <!-- slide -->
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="imgs/rio1.jpg">
                    <!-- random image -->
                    <div class="caption right-align">
                        <h5>I Congresso Internacional de Práticas Integrativas e Saúde Pública - PICS
                            <br/>
                        </h5>
                        <h5> III Congresso Internacional de Ayurveda</h5>

                        <h6 class="light grey-text text-lighten-3">12 a 15 Março de 2018 - Rio de Janeiro</h6>
                    </div>
                </li>
                <li>
                    <img src="imgs/slider_congrepics1.jpg">
                    <!-- random image -->
                    <div class="caption right-align">
                        <h3>Congrepics</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="imgs/slider_congrepics2.jpg">
                    <!-- random image -->
                    <div class="caption right-align">
                        <h3>Shantala</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="imgs/slider_congrepics3.jpg">
                    <!-- random image -->
                    <div class="caption right-align">
                        <h3>Quiropraxia</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="imgs/slider_congrepics4.jpg">
                    <!-- random image -->
                    <div class="caption right-align">
                        <h3>Pulso MTC</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="imgs/slider_congrepics5.jpg">
                    <!-- random image -->
                    <div class="caption right-align">
                        <h3>Ayurveda</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="imgs/slider_congrepics6.jpg">
                    <!-- random image -->
                    <div class="caption right-align">
                        <h3>Lian Gong</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="imgs/slider_congrepics7.jpg">
                    <!-- random image -->
                    <div class="caption right-align">
                        <h3>Plantas medicinais</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    
</div>
 <!-- <div class="parallax"><img src="imgs/rio1.jpg" alt="Unsplashed background img 1"></div>-->
<script type="text/javascript-lazy">
        $('.slider').slider({
            full_width: true
        });
</script>
