<style>
    .menuInicio ul {
        margin-left: 16%!important;
    }

    .menuInicio li a {
        color: #fff!important;
        font-size: 12px;
    }
</style>

<div class="navbar-fixed white-text" ng-init="carregarMenu()">

    <nav class="menuInicio teal">
        <div class="nav-wrapper">
            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
            <ul class="center hide-on-med-and-down  white-text" >
                <li ng-repeat="menu in itensMenu">
                    <a href="{{menu.url}}">{{menu.nome}}</a>
                </li>

            </ul>
        </div>
    </nav>
</div>
<!-- Move the sidenav outside of .navbar-fixed -->
<ul class="side-nav" id="mobile-demo">
    <li  ng-repeat="menu in itensMenu">
        <a href="{{menu.url}}">{{menu.nome}}</a>
    </li>

</ul>
<script type="text/javascript-lazy">
    $('.button-collapse').sideNav();
</script>