<div class="row center">
    <h4 class="light"> Organizações Afiliadas </h4>

</div>

<div class="container">
    <div class="section">


        <div class="row">
            <div class="col s12 center">


                <div class="col s12 m4">
                    <div class="icon-block">
                        <img src="imgs/logo_min_saude.jpg" alt="" width="130px" class="responsive-img">
                        <!-- notice the "circle" class -->
                        <div class="row center">
                            <h6>Ministério da saúde</h6>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <img src="imgs/logo_camara_dep.jpg" alt="" width="130px" class="responsive-img">
                        <!-- notice the "circle" class -->
                        <div class="row center">
                            <h6>Câmara dos deputados Frente Parlamentar de Práticas Integrativas e Frente Parlamentar de Educação
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <img src="imgs/logo_aiac.jpg" alt="" width="130px" class="responsive-img">
                        <!-- notice the "circle" class -->
                        <div class="row center">
                            <h6>AIAC
                                <br/> All India Ayurvedic Congress</h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3>
                    <i class="mdi-content-send brown-text"></i>
                </h3>


                <div class="col s12 m4">
                    <div class="icon-block">
                        <img src="imgs/logo_min_saude.jpg" alt="" width="130px" class="responsive-img">
                        <!-- notice the "circle" class -->
                        <div class="row center">
                            <h6>Ministério da saúde</h6>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <img src="imgs/logo_camara_dep.jpg" alt="" width="130px" class="responsive-img">
                        <!-- notice the "circle" class -->
                        <div class="row center">
                            <h6>Câmara dos deputados Frente Parlamentar de Práticas Integrativas e Frente Parlamentar de Educação
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <img src="imgs/logo_aiac.jpg" alt="" width="130px" class="responsive-img">
                        <!-- notice the "circle" class -->
                        <div class="row center">
                            <h6>AIAC
                                <br/> All India Ayurvedic Congress</h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>