<div class="parallax-container valign-wrapper">
    <div id="organizadores1" class="section scrollspy no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header">Organizadores</h5>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="imgs/organizadores.jpg" alt="Unsplashed background img 2">
    </div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3>
                    <i class="mdi-content-send brown-text"></i>
                </h3>

                <p class="light"> Este Congresso está sendo organizado pelo Ministério da Saúde, juntamente com a Câmara dos Deputados do Brasil,
                    o All India Ayurveda Congress, Nova Delhi, India, a International Academy of Ayurveda, Pune, India, e
                    a International Maharishi Ayurveda Foundation, Holanda.</p>

                <div class="col s12 m3">
                    <div class="icon-block">
                        <img src="imgs/ministro.jpg" alt="" width="130px" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                        <div class="row center">
                            <h5>Ministro da saúde</h5>
                        </div>
                        <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom
                            components. Additionally, we refined animations and transitions to provide a smoother experience
                            for developers.</p>
                    </div>
                </div>

                <div class="col s12 m3">
                    <div class="icon-block">
                        <img src="imgs/ministro_ayush.jpg" alt="" width="130px" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                        <div class="row center">
                            <h5>Ministro de Ayush</h5>
                        </div>
                        <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom
                            components. Additionally, we refined animations and transitions to provide a smoother experience
                            for developers.</p>
                    </div>
                </div>
                <div class="col s12 m3">
                    <div class="icon-block">
                        <img src="imgs/maharaja.jpg" alt="" width="130px" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                        <div class="row center">
                            <h5>Maharaja</h5>
                        </div>
                        <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom
                            components. Additionally, we refined animations and transitions to provide a smoother experience
                            for developers.</p>
                    </div>
                </div>

                <div class="col s12 m3">
                    <div class="icon-block">
                        <img src="imgs/deputado_saraiva_felipe.jpg" alt="" width="130px" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                        <div class="row center">
                            <h5>Dep. Saraiva Felipe</h5>
                        </div>
                        <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom
                            components. Additionally, we refined animations and transitions to provide a smoother experience
                            for developers.</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<script type="text/javascript-lazy">
    
    $('.parallax').parallax();
</script>