<div class="parallax-container valign-wrapper">
    <div id="presidente_congresso" class="section scrollspy no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header">Presidentes do Congresso</h5>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="imgs/presidentes_congresso.jpg" alt="Unsplashed background img 2">
    </div>
</div>



<div class="container">
    <div class="section">


        <div class="row">
            <div class="col s12 center">
                <h3>
                    <i class="mdi-content-send brown-text"></i>
                </h3>

                <p class="light"> Este Congresso está sendo organizado pelo Ministério da Saúde, juntamente com a Câmara dos Deputados do Brasil,
                    o All India Ayurveda Congress, Nova Delhi, India, a International Academy of Ayurveda, Pune, India, e
                    a International Maharishi Ayurveda Foundation, Holanda.</p>

                <div class="col s12 m2">
                    <div class="icon-block">
                        <h2 class="center teal-text">
                            <i class="material-icons">account_circle</i>
                        </h2>
                        <div class="row center">
                            <h6>Iracema</h6>
                        </div>
                    </div>
                </div>

                <div class="col s12 m2">
                    <div class="icon-block">
                        <h2 class="center teal-text">
                            <i class="material-icons">account_circle</i>
                        </h2>
                        <div class="row center">
                            <h6>Daniel</h6>
                        </div>
                    </div>
                </div>
                <div class="col s12 m2">
                    <div class="icon-block">
                        <h2 class="center teal-text">
                            <i class="material-icons">account_circle</i>
                        </h2>
                        <div class="row center">
                            <h6>Jose Luis Alvarez</h6>
                        </div>
                    </div>
                </div>

                <div class="col s12 m2">
                    <div class="icon-block">
                        <h2 class="center teal-text">
                            <i class="material-icons">account_circle</i>
                        </h2>
                        <div class="row center">
                            <h6>Triguna </h6>
                        </div>
                    </div>
                </div>

                <div class="col s12 m2">
                    <div class="icon-block">
                        <h2 class="center teal-text">
                            <i class="material-icons">account_circle</i>
                        </h2>
                        <div class="row center">
                            <h6>Prof. Ranade</h6>
                        </div>
                    </div>
                </div>

                <div class="col s12 m2">
                    <div class="icon-block">
                        <h2 class="center teal-text">
                            <i class="material-icons">account_circle</i>
                        </h2>
                        <div class="row center">
                            <h6>Rainer</h6>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="row center">
            <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">PRINCIPAIS PALESTRANTES E TEMAS</a>
        </div>

    </div>

</div>
<script type="text/javascript-lazy">
    $('.parallax').parallax();
</script>