<div class="parallax-container valign-wrapper">
    <div id="programa" class="section scrollspy no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header">Programa</h5>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="imgs/programa.jpg" alt="Unsplashed background img 2">
    </div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center ">
                <h3>
                    <i class="mdi-content-send brown-text"></i>
                </h3>

                <p class="light"> VEJA O PROGRAMA DETALHADO </p>

                <ul class="collapsible popout" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">date_range</i>Segunda-feira, 12 de março</div>
                        <div class="collapsible-body left-align">
                            <span>

                                <strong>Manhã – 8:00 – 9:00. Credenciamento.</strong>
                                <br/>
                                <br/>

                                <strong>Manhã – 9:00 – 12:00. Sessão Plenária:</strong> Inauguração e cerimônia de abertura com os
                                convi-dados de honra e Orador Principal, sobre tema de conhecimento – Soluções para os Problemas
                                de Saúde Atuais Testados ao Longo do Tempo e Verificados Cientificamente.
                                <br/>
                                <br/>

                                <strong>Intervalo para almoço: 12:00 – 14:00.</strong>
                                <br/>
                                <br/>

                                <strong>Tarde – 14:00 – 17:30. Sessão Plenária:</strong> Boas experiências dos países, incluindo
                                políticas regulatórias. Considerações sobre medicina integrativa e como pode ser implemen-tada.
                                Prevenção e tratamento da malária (Tradicional Chinesa + Ayurveda).
                                <br/>
                                <br/>

                                <strong>Noite – 19:30.</strong> Jantar Oficial para convidados de honra e Networking.

                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">date_range</i>Terça-feira, 13 de março</div>
                        <div class="collapsible-body left-align">
                            <span>

                                <strong>Manhã – 8:30 – 9:00. </strong>Atividades Integrativas Matinais, como Tai Chi/Yoga/Meditação/…
                                <br/>
                                <br/>

                                <strong>Manhã – 9:00 – 12:00. Sessão Plenária:</strong> : Observações de abertura, palestrantes de
                                destaque
                                <br> - Prevenção e tratamento para doenças crônicas principais: doenças cardíacas, acidentes
                                vasculares cerebrais, câncer, doenças respiratórias crônicas, diabetes;
                                <br/> - Também doenças hepáticas, artrite, ansiedade, depressão, Alzeimer, fibromialgia e fatores
                                de risco como hipertensão.
                                <br/>
                                <br/>

                                <strong>Intervalo para almoço: 12:00 – 14:00.</strong>
                                <br/>
                                <br/>

                                <strong>Tarde – 14:00 – 16:00. Sessões Paralelas:</strong>
                                <br/> 1. Ayurveda e plantas medicinais
                                <br/> 2. Tradional Chinesa e Plantas Medicinais
                                <br/> 3. Yoga
                                <br/> 4. Meditação
                                <br/> 5. Antroposofia
                                <br/> 6. Naturologia
                                <br/> 7. Fitoterapia e Plantas Medicinais
                                <br/> 8. Homeopatia
                                <br/> 9. Termalismo social/Crenoterapia
                                <br/> 10. Arteterapia
                                <br/> 11. Biodança
                                <br/> 12. Dança Circular
                                <br/> 13. Musico Terapia
                                <br/> 14. Osteopatia
                                <br/> 15. Quiropraxia
                                <br/> 16. Reflexologia
                                <br/> 17. Reiki
                                <br/> 18. Shantala
                                <br/> 19. Terapia Comunitária Integrativa
                                <br/>
                                <br/>
                                <br/>

                                <strong>Tarde – 16:00 – 17:30. Sessão Plenária:</strong> : Palestrantes de destaque, Painel de discussão.
                                <br> - Prevenção e tratamento para doenças crônicas principais: doenças cardíacas, acidentes
                                vasculares cerebrais, câncer, doenças respiratórias crônicas, diabetes;
                                <br/> - Também doenças hepáticas, artrite, ansiedade, depressão, Alzeimer, fibromialgia e fatores
                                de risco como hipertensão.
                                <br/>
                                <br/>

                                <strong>Intervalo para Jantar: 19:30 – 20:30</strong>

                                <br/>
                                <br/>
                                <strong>Noite – 20:30.</strong> Evento Cultural: Concerto Gandarva Veda

                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">date_range</i>Quarta-feira 14 de março</div>
                        <div class="collapsible-body left-align">
                            <span>

                                <strong>Manhã – 8:30 – 9:00. </strong>Atividades Integrativas Matinais, como Tai Chi/Yoga/Meditação/…
                                <br/>
                                <br/>

                                <strong>Manhã – 9:00 – 12:00. Sessão Plenária:</strong> : Observações de abertura, palestrantes de
                                destaque
                                <br> - Prevenção e tratamento para doenças crônicas principais: doenças cardíacas, acidentes
                                vasculares cerebrais, câncer, doenças respiratórias crônicas, diabetes;
                                <br/> - Também doenças hepáticas, artrite, ansiedade, depressão, Alzeimer, fibromialgia e fatores
                                de risco como hipertensão.
                                <br/>
                                <br/>

                                <strong>Intervalo para almoço: 12:00 – 14:00.</strong>
                                <br/>
                                <br/>

                                <strong>Tarde – 14:00 – 16:00. Sessões Paralelas:</strong>
                                <br/> 1. Ayurveda e plantas medicinais
                                <br/> 2. Tradional Chinesa e Plantas Medicinais
                                <br/> 3. Yoga
                                <br/> 4. Meditação
                                <br/> 5. Antroposofia
                                <br/> 6. Naturologia
                                <br/> 7. Fitoterapia e Plantas Medicinais
                                <br/> 8. Homeopatia
                                <br/> 9. Termalismo social/Crenoterapia
                                <br/> 10. Arteterapia
                                <br/> 11. Biodança
                                <br/> 12. Dança Circular
                                <br/> 13. Musico Terapia
                                <br/> 14. Osteopatia
                                <br/> 15. Quiropraxia
                                <br/> 16. Reflexologia
                                <br/> 17. Reiki
                                <br/> 18. Shantala
                                <br/> 19. Terapia Comunitária Integrativa
                                <br/>
                                <br/>
                                <br/>

                                <strong>Tarde – 16:00 – 17:30. Sessão Plenária:</strong> : Palestrantes de destaque, Painel de discussão.
                                <br> - Prevenção e tratamento para doenças crônicas principais: doenças cardíacas, acidentes
                                vasculares cerebrais, câncer, doenças respiratórias crônicas, diabetes;
                                <br/> - Também doenças hepáticas, artrite, ansiedade, depressão, Alzeimer, fibromialgia e fatores
                                de risco como hipertensão.
                                <br/>
                                <br/>

                                <strong>Intervalo para Jantar: 19:30 – 20:30</strong>

                                <br/>
                                <br/>
                                <strong>Noite – 20:30.</strong> Evento Cultural: Concerto Bossa Nova e MPB.

                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">date_range</i>Quarta-feira 15 de março</div>
                        <div class="collapsible-body left-align">
                            <span>

                                <strong>Manhã – 8:30 – 9:00. </strong>Atividades Integrativas Matinais, como Tai Chi/Yoga/Meditação/…
                                <br/>
                                <br/>

                                <strong>Manhã – 9:00 – 11:00. Sessão Plenária:</strong> Observações de abertura, palestrantes de
                                destaque
                                <br/> - Prevenção e tratamento para doenças crônicas principais: doenças cardíacas, acidentes
                                vasculares cerebrais, câncer, doenças respiratórias crônicas, diabetes;
                                <br/> - Também doenças hepáticas, artrite, ansiedade, depressão, Alzeimer, fibromialgia e fatores
                                de risco como hipertensão.

                                <br/>
                                <br/>
                                <strong>Manhã – 11:00 – 12:00. ENCERRAMENTO para todos os participantes</strong>


                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript-lazy">
    $('.parallax').parallax();
    $('.collapsible').collapsible();
</script>